.form-link{
	color: rgba(255, 255, 255, 0.75) !important;
    font-size: 12px;
    padding: 9px;
	}
	.form-link-1{
	color: #F2F5F7 !important;
	font-size: 13px;
    padding: 13px 15px 7px 15px;
	}
	body.nav-sm .nav.side-menu li .form-link-1  i{
	font-size: 25px !important;
	text-align: center;
	width: 100% !important;
	margin-bottom: 5px;
	}body.nav-sm .nav.side-menu li .form-link-1{
	font-size: 10px !important;
	text-align: center;
	width: 100% !important;
	margin-bottom: 5px;
}
.crop_photo{
	width:40%;
	height:auto;
	background-position: center center;
	background-repeat: no-repeat;
	overflow: hidden;
  }
  td.details-control {
    background: url('../../img/plus-32.png') no-repeat center center;
    height: 25px;
    cursor: pointer;
  }
  tr.shown td.details-control {
      background: url('../../img/minus-32.png') no-repeat center center;
  }
  .row_detail td{
    padding-left:8px;
  }
  .chevron{
	  float:right;
  }